<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.obor.aircp.mapper.HCommentMapper">
  <resultMap id="BaseResultMap" type="com.obor.aircp.model.HComment">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="hotel_id" jdbcType="VARCHAR" property="hotelId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="comment_context" jdbcType="VARCHAR" property="commentContext" />
    <result column="comment_type" jdbcType="VARCHAR" property="commentType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hotel_id, user_id, comment_context, comment_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from h_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <select id="selectByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from h_comment
    limit #{pstart,jdbcType=INTEGER},#{psize,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from h_comment
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.obor.aircp.model.HComment" useGeneratedKeys="true">
    insert into h_comment (id,hotel_id, user_id, comment_context,
      comment_type)
    values (#{id,jdbcType=VARCHAR},#{hotelId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{commentContext,jdbcType=VARCHAR},
      #{commentType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.obor.aircp.model.HComment" useGeneratedKeys="true">
    insert into h_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hotelId != null">
        hotel_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="commentContext != null">
        comment_context,
      </if>
      <if test="commentType != null">
        comment_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hotelId != null">
        #{hotelId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="commentContext != null">
        #{commentContext,jdbcType=VARCHAR},
      </if>
      <if test="commentType != null">
        #{commentType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.obor.aircp.model.HComment">
    update h_comment
    <set>
      <if test="hotelId != null">
        hotel_id = #{hotelId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="commentContext != null">
        comment_context = #{commentContext,jdbcType=VARCHAR},
      </if>
      <if test="commentType != null">
        comment_type = #{commentType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.obor.aircp.model.HComment">
    update h_comment
    set hotel_id = #{hotelId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      comment_context = #{commentContext,jdbcType=VARCHAR},
      comment_type = #{commentType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getCount" resultType="java.lang.Integer">
    select count(id) from h_comment
  </select>
</mapper>