<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.obor.aircp.mapper.HHotelMapper">
    <resultMap id="BaseResultMap" type="com.obor.aircp.model.HHotel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="hotel_name" jdbcType="VARCHAR" property="hotelName"/>
        <result column="hotel_info" jdbcType="VARCHAR" property="hotelInfo"/>
        <result column="hotel_content" jdbcType="VARCHAR" property="hotelContent"/>
        <result column="hotel_site_id" jdbcType="VARCHAR" property="hotelSiteId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, hotel_name, hotel_info, hotel_content, hotel_city_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from h_hotel
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from h_hotel
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <select id="selectByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from h_hotel
        limit #{pstart,jdbcType=INTEGER},#{psize,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from h_hotel
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.obor.aircp.model.HHotel"
            useGeneratedKeys="true">
    insert into h_hotel (id,hotel_name, hotel_info, hotel_content,
      hotel_site_id)
    values (#{id,jdbcType=VARCHAR},#{hotelName,jdbcType=VARCHAR}, #{hotelInfo,jdbcType=VARCHAR}, #{hotelContent,jdbcType=VARCHAR},
      #{hotelSiteId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.obor.aircp.model.HHotel"
            useGeneratedKeys="true">
        insert into h_hotel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="hotelName != null">
                hotel_name,
            </if>
            <if test="hotelInfo != null">
                hotel_info,
            </if>
            <if test="hotelContent != null">
                hotel_content,
            </if>
            <if test="hotelSiteId != null">
                hotel_site_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="hotelName != null">
                #{hotelName,jdbcType=VARCHAR},
            </if>
            <if test="hotelInfo != null">
                #{hotelInfo,jdbcType=VARCHAR},
            </if>
            <if test="hotelContent != null">
                #{hotelContent,jdbcType=VARCHAR},
            </if>
            <if test="hotelSiteId != null">
                #{hotelSiteId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.obor.aircp.model.HHotel">
        update h_hotel
        <set>
            <if test="hotelName != null">
                hotel_name = #{hotelName,jdbcType=VARCHAR},
            </if>
            <if test="hotelInfo != null">
                hotel_info = #{hotelInfo,jdbcType=VARCHAR},
            </if>
            <if test="hotelContent != null">
                hotel_content = #{hotelContent,jdbcType=VARCHAR},
            </if>
            <if test="hotelSiteId != null">
                hotel_site_id = #{hotelSiteId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.obor.aircp.model.HHotel">
    update h_hotel
    set hotel_name = #{hotelName,jdbcType=VARCHAR},
      hotel_info = #{hotelInfo,jdbcType=VARCHAR},
      hotel_content = #{hotelContent,jdbcType=VARCHAR},
      hotel_site_id = #{hotelSiteId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="getCount" resultType="java.lang.Integer">
    select count(id) from h_hotel
  </select>
</mapper>